<style>
   .subtitle p strong{
        color:#A5A6FF;
    }
</style>
<div class="elisc_tm_section animated" id="{{home_slug | slugify}}">
    <div class="elisc_tm_home">
        <div class="tm_content">
            <div class="details">
                <div class="left">
                    <div class="title">
                        <h3>{{text_1}} <span class="blueColor">{{text_2}}</span></h3>
                        <h3>
                            <span class="cd-headline rotate-1">
                                <span class="blc">{{text_3}}</span>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">{{text_4}}</b>
                                </span>
                            </span>
                        </h3>
                        <h3>{{text_5}}</h3>
                    </div>
                    <div class="subtitle">
                        <p>{{details}}</p>
                    </div>
                    <div class="buttons">
                        <div class="elisc_tm_button">
                            <a class="" href="{{button_link}}">{{button_text}}</a>
                        </div>
                        <div class="elisc_tm_button" data-style="border">
                            <a class="" href="{{button_link_1}}">{{button_text_1}}</a>
                        </div>
                    </div>
                    <div class="info">
                        <ul>
                            <li><a href="tel:+{{contact}}">+{{contact}}</a></li>
                            <li><a
                                    href="mailto:{{email}}"><span
                                        class="__cf_email__"
                                        data-cfemail="91e2e4e1e1fee3e5d1f4fdf8e2f2bff2fefc">{{email}}</span></a>
                            </li>
                            <li><a class="href_location" href="javascript:void(0)">{{location}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <img src="{{image}}" alt />
                </div>
            </div>
        </div>
    </div>
</div>