<div class="copyright" style="position:static;">
    <div class="social">
        <ul>
            <li><a href="{{ social:facebook:share }}" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="{{ social:twitter:share }}" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="{{ social:linkedin:share }}" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
        </ul>
    </div>
    <div class="text">
        <p>{{footer:footer_heading}} {{ now|format:Y }} {{footer:footer_name}}. {{footer:footer_terms}}.</p>
    </div>
</div>