/* profile image css*/
.elisc_tm_sidebar .author .main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
  }
  .elisc_tm_sidebar .author .main:before {
    position: absolute;
    content: "";
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background-color: var(--blue-color);
    z-index: -1;
    border-radius: 100%;
  }

  /* menu css*/
  .elisc_tm_sidebar .menu {
    width: 100%;
    float: left;
  }
  .elisc_tm_sidebar .menu ul {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .elisc_tm_sidebar .menu ul li {
    margin: 0 0 15px;
  }
  .elisc_tm_sidebar .menu ul li:last-child {
    margin-bottom: 0;
  }
  .elisc_tm_sidebar .menu ul li a {
    color: var(--main-color);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .elisc_tm_sidebar .menu ul li.active a,
  .elisc_tm_sidebar .menu ul li.current a,
  .elisc_tm_sidebar .menu ul li a:hover {
    color: var(--blue-color);
  }

  .elisc_tm_sidebar .menu ul li {
    margin-bottom: 9px;
  }

  /* Home section*/

  .elisc_tm_home {
    width: 100%;
    min-height: 100vh;
    clear: both;
    float: left;
    background-color: #effbf8;
  }
  .elisc_tm_home .details {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  .elisc_tm_home .details .left {
    width: 50%;
  }
  .elisc_tm_home .title {
    width: 100%;
    float: left;
    margin-bottom: 21px;
  }
  .elisc_tm_home .title h3 {
    font-weight: 800;
    font-size: 60px;
    line-height: 70px;
  }
  .elisc_tm_home .title span {
    font-weight: 800;
    font-size: 64px;
    line-height: 72px;
  }
  .elisc_tm_home .subtitle {
    width: 100%;
    max-width: 80%;
    float: left;
    margin-bottom: 40px;
  }
  .elisc_tm_home .buttons {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    margin-bottom: 150px;
  }
  .elisc_tm_home .elisc_tm_button {
    width: auto;
  }
  .elisc_tm_home .elisc_tm_button:nth-child(2) {
    margin-left: 15px;
  }
  .elisc_tm_home .info {
    width: 100%;
    float: left;
  }
  .elisc_tm_home .info ul {
    margin: 0;
    position: relative;
  }
  .elisc_tm_home .info ul:before {
    position: absolute;
    content: "";
    width: 4px;
    background-color: var(--yellow-color);
    top: 0;
    bottom: 0;
  }
  .elisc_tm_home .info ul li {
    padding-left: 15px;
  }
  .elisc_tm_home .info ul li a {
    color: #130f49;
    font-weight: 600;
    font-size: 18px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .elisc_tm_home .info ul li a:hover {
    color: var(--yellow-color);
  }
  .elisc_tm_home .info ul li p {
    color: #130f49;
    font-weight: 600;
    font-size: 18px;
  }
  .elisc_tm_home .details .right {
    width: 50%;
    padding-left: 50px;
  }
  .elisc_tm_home .title h3,
  .elisc_tm_home .title span {
    font-size: 50px;
    line-height: 60px;
  }
  .elisc_tm_home .buttons {
    margin-bottom: 60px;
  }
  .elisc_tm_home .subtitle {
    margin-bottom: 30px;
  }
  .elisc_tm_home .info ul li a {
    font-size: 16px;
  }
  .elisc_tm_home .details {
    align-items: baseline;
    flex-direction: column-reverse;
  }
  .elisc_tm_home .details .left {
    width: 100%;
  }
  .elisc_tm_home .details .right {
    width: 100%;
    padding-left: 0;
    margin-bottom: 50px;
  }
  .elisc_tm_home {
    padding: 100px 0;
  }
  .elisc_tm_home .title h3,
  .elisc_tm_home .title span {
    font-size: 50px;
    line-height: 63px;
  }
  .elisc_tm_home .buttons {
    margin-bottom: 75px;
  }
  .elisc_tm_section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    z-index: 8;
    transition: visibility 1s linear, opacity 0s linear;
    -moz-transition: visibility 1s linear, opacity 0s linear;
    -webkit-transition: visibility1s linear, opacity 0s linear;
    -o-transition: visibility 1s linear, opacity 0s linear;
  }
  .elisc_tm_section.animated {
    opacity: 1;
    visibility: visible;
    z-index: 9;
  }
  .elisc_tm_section.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }
  .elisc_tm_section.hidden {
    opacity: 0;
    visibility: hidden;
    z-index: 9;
  }
  .elisc_tm_section::-webkit-scrollbar {
    width: 0;
  }
  .dodo_tm_one_page_wrapper .elisc_tm_section {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    opacity: 1;
    visibility: visible;
  }



  @media (max-width: 768px) {
    .elisc_tm_home .title h3,
    .elisc_tm_home .title span {
      font-size: 35px;
      line-height: 45px;
    }
    .elisc_tm_counter ul {
      margin: 0;
    }
    .elisc_tm_counter ul li {
      width: 100%;
      padding-left: 0;
    }
    .elisc_tm_experience .list ul {
      margin: 0;
    }
    .elisc_tm_experience .list ul li {
      width: 100%;
      padding-left: 0;
    }
    .elisc_tm_experience .list ul li .list_inner {
      padding: 35px 25px;
    }
    .elisc_tm_experience .short {
      font-size: 15px;
    }
    .elisc_tm_experience .list ul li {
      margin-bottom: 30px;
    }
    .service_list ul {
      margin: 0;
    }
    .service_list ul li {
      width: 100%;
      padding-left: 0;
    }
    .elisc_tm_service_title {
      flex-direction: column;
      align-items: baseline;
    }
    .elisc_tm_service_title .elisc_tm_title {
      margin-bottom: 20px;
    }
    .service_list ul li .list_inner {
      padding-left: 25px;
      padding-right: 25px;
    }
    .elisc_tm_video .text h3 {
      font-size: 12px;
    }
    .elisc_tm_video .text {
      padding: 5px 15px;
      bottom: 10px;
      right: 10px;
    }
    .elisc_tm_video .play {
      width: 45px;
      height: 45px;
    }
    .elisc_tm_video .play .svg {
      width: 13px;
      height: 13px;
    }
    .elisc_tm_portfolio_title {
      flex-direction: column;
      align-items: baseline;
    }
    .elisc_tm_portfolio_title .elisc_tm_title {
      margin-bottom: 20px;
    }
    .elisc_tm_partners ul li {
      width: 50%;
    }
    .elisc_tm_testimonials {
      padding-left: 40px;
      padding-right: 40px;
    }
    .elisc_tm_modalbox .box_inner {
      width: 300px;
      top: 40px;
      bottom: 40px;
    }
    .elisc_tm_modalbox .description_wrap {
      padding: 30px 25px 25px;
    }
    .elisc_tm_modalbox .description_wrap:before {
      height: 30px;
    }
    .elisc_tm_modalbox .description_wrap:after {
      height: 25px;
    }
    .elisc_tm_modalbox .close {
      margin-left: auto;
      left: auto;
      right: 25px;
      top: 15px;
    }
    .elisc_tm_modalbox .close a {
      color: #000;
      width: auto;
      height: auto;
      border: none;
      font-size: 20px;
    }
    .elisc_tm_modalbox .infos .job h3 {
      font-size: 19px;
    }
    .elisc_tm_modalbox .infos .year span {
      padding: 2px 15px;
    }
    .elisc_tm_modalbox .infos .year {
      margin-bottom: 15px;
    }
    .elisc_tm_modalbox .infos {
      margin-bottom: 15px;
    }
    .elisc_tm_modalbox .main_title h3 {
      font-size: 19px;
    }
    .elisc_tm_modalbox .main_title {
      margin-bottom: 10px;
    }
    .elisc_tm_modalbox .portfolio_main_title h3 {
      font-size: 19px;
    }
    .elisc_tm_modalbox .portfolio_main_title {
      margin-bottom: 15px;
    }
    .elisc_tm_modalbox .additional_images ul {
      margin: 0;
    }
    .elisc_tm_modalbox .additional_images ul li {
      width: 100% !important;
      padding-left: 0;
      margin-bottom: 20px;
    }
    .elisc_tm_modalbox .news_popup_informations .title h3 {
      font-size: 19px;
    }
    .elisc_tm_modalbox .news_popup_informations .title {
      margin-bottom: 15px;
    }
  }