{{ partial:layout/mobile }}
<div class="elisc_tm_sidebar">
    <div class="sidebar_inner">
        <div class="author">
            <div class="image">
                <img src="{{profile:image}}" alt />
                <div class="main" data-img-url="{{profile:image}}" style="background-image: url({{profile:image}});"></div>
            </div>
            <div class="name">
                <h3><span>{{profile:name}}<span class="back">{{profile:name}}</span></span></h3>
            </div>
        </div>
        {{ partial:layout/header }}
        {{ partial:layout/footer }}
    </div>
</div>

